RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^sitemap\.xml$ sitemap.php [L]
RewriteRule ^reports(/.*)?$ reports.php [L]
RewriteRule ^authors(/.*)?$ authors.php [L]
RewriteRule ^@.*$ authors.php [L]